.timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #6658ea
}
.content{ border: #d1e20f 1px solid; padding: 20px; border-radius: 20px; color: rgb(189, 199, 231);}
.timeline ul{ margin: 0; padding: 0}
.timeline ul li{ 
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 40px;
    right: -14px;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #6658ea;
    border-radius: 50%
}
.timeline ul li:nth-child(odd)::after{
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 44px;
    right: 25px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #6658ea;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}


.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 40px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #6658ea;
    border-radius: 50%
}
.timeline ul li:nth-child(even)::after{
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 44px;
    left: 25px;
    border-width: 10px 15px 10px 0px;
    border-color: transparent #6658ea transparent transparent;
}
@media all and (max-width: 768px) {
    .timeline:before{
        left: 0%;
    }
    .timeline ul li{ 
        width: 100%;
    }
    .timeline ul li:nth-child(odd){
        float: right;
        text-align: left;
    }
    .timeline ul li:nth-child(odd)::before{
        left: -10px;
    }
    .timeline ul li:nth-child(odd)::after{
        left: 25px;
        border-width: 10px 15px 10px 0px;
        border-color: transparent #6658ea transparent transparent;
    }
    
}

header {
    text-align: center;
  }
  
  header h2 {
    margin: 0;
    color: rgb(189, 189, 216);
  }
    
  header h3 {
    margin: 0;
    color: rgb(9, 137, 248);
  }

  header h1{
    margin: 0;
    color: rgb(227, 168, 100);
  }

  body{
    background-color: #121212;
  }