button {
    padding: 20px 40px;
    background-color: blueviolet;
    border: 2px solid rgb(239, 234, 244);
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 40px blueviolet ;
    margin-right: 15px;
    margin-top: 10px;
}