body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.results-dialog {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  text-align: left;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  input[type="text"] {
    width: 100%;
  }
}





/* Estilos para los tickets guardados */
#tickets-dialog {
  padding: 20px;
  background-color: #f5f5f5;
  margin-top: 20px;
}

#tickets-dialog h2 {
  margin-top: 0;
}

#tickets-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tickets-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#tickets-list li:last-child {
  margin-bottom: 0;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 600px) {
  #tickets-dialog {
    padding: 10px;
  }
  
  #tickets-list li {
    padding: 5px;
  }
}



/* Estilos para los datos de diagnóstico */
#results-dialog {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  text-align: left;
}

#results-dialog p {
  margin: 0;
  line-height: 1.5;
}

#results-dialog button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#results-dialog button:hover {
  background-color: #0056b3;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 600px) {
  #results-dialog {
    padding: 5px;
  }
  
  #results-dialog button {
    margin-top: 5px;
    padding: 5px 10px;
  }
}