button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 16px;
}
button:active {
  background-color: #3e8e41;
}
button:hover {
  background-color: #45a049;
}
