body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(/Hackaton06/a15100022/img/img2.wallspic.com-2001_monolito-monolito-la_ciencia_ficcion-arte-cuerpo_de_agua-2560x1440.png);
}
form {
    
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button.cancel {
    background-color: #ccc;
    background-color: #4CAF50;
}
/**************************************************************************/
table {
    
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
}

th, td {
    
    padding: 12px;
    text-align: left;
}

th {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button.cancel {
    background-color: #e74c3c;
}

button:hover {
    background-color: #45a049;
}

 /* Estilo para el formulario flotante */
 #formularioFlotante {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#formularioFlotante label {
    display: block;
    margin-bottom: 10px;
}

#formularioFlotante textarea,
#formularioFlotante select {
    width: 100%;
    margin-bottom: 10px;
}

#formularioFlotante button {
    margin-right: 10px;
}

.mensaje-notificacion {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}